.input {
  &-form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &-label {
    color: #373458;
    cursor: default;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    padding: 0.25rem 0;
  }

  &-text {
    width: 100%;
    .v-input__slot {
      background-color: #ffffff !important;
      padding: 0 1rem !important;
      border-radius: 0.5rem !important;
      & fieldset {
        border: none !important;
      }
      input {
        color: #4d527e;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
